.ho:hover{
    cursor:default;
}

div #jobmain{
    position: absolute;
    width: 50%;
    top: 25%;
    left: 25%;
    color: black;
}

.ceg{
    padding: 20px;
    width: 95%;
    margin: 0 auto;
    top: 10%;
    color: black;
    position: absolute;
}

.reszletek{
    font-size: 24px !important;
    font-weight: bold !important;
}

.grey{
    color: grey;
    font-weight: 600 !important;
}

.cegreszletek{
    font-weight: bold !important;
}